{%extends 'base.html'%}

{%block contents%}
<body>
    <header> 
        <h1 style="text-align: center; padding-top: 17px;">  W E L C O M E </h1>
      </header>
    
      <hr class="featurette-divider">
      
    <div class="container">
    <div class="row featurette">
      <div class="col-md-7" style="display: center;padding-top: 80px;">
        <h2 class="featurette-heading">김 사 랑 <span class="text-muted" style="font-size:x-large;">Kim Sa Rang</span></h2>
        <p class="lead">
            <p>  
                안녕하세요! 저는 김사랑이라고 합니다.</p>
            <p>
                제 이름 예쁘죠? 다들 제 이름이 순우리말인 줄 알더라구요. 제 이름은 한자입니다.
            </p> 
            <p> 
                성 김(金) 생각 사(思) 밝을 랑(朗). 밝은 생각을 하며 살으라는 깊은 뜻이 담겨 있답니다!
            </p>
            <p>
                사실 저는 아주 어린 시절 제 이름을 좋아하지 않았어요. 나중에 늙어서 '사랑 할머니'라고 불릴 생각을 하니 할머니의 이름과는 맞지 않다고 생각했거든요... 이름이 장난같이 유치해 보였달까? 
            </p>
            <p>
                지금은 너무너무 사랑하는 제 이름이랍니다 :)
            </p>
        </p>
    </div>
        <div class="col-md-5 order-md-1">
            <img src="https://postfiles.pstatic.net/MjAyMTA3MzFfMTE3/MDAxNjI3NjgxNDQyNTY1.jBIHZ0cWyH8yhnasoGbhsGdziA_OwHEMLDn0vzfguPUg.JGCKSN3ntB4T-lLUoFrxk-wbFCst0SgiaFvvbn50NjMg.JPEG.sarang3009/IMG_5679.jpg?type=w966" width="450" height="450" alt="mememe">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2" style="padding-top: 140px; padding-left: 150px;">
        <h2 class="featurette-heading">2001년 05월 24일 <span class="text-muted" style="font-size:x-large;">뱀띠</span></h2>
        <p class="lead">
            <p>저는 2001년 5월 24일에 태어났습니다. </p>
            <p>낮 2시에 우량아로 이 세상에 나왔다고 합니다 :)</p>
            <p>엄마아빠 사랑해~~~~~~!♡</p>
        </p>
    </div>
      <div class="col-md-5 order-md-1">
        <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDExMTNfODMg%2FMDAxNjA1MjM3NDQ5MTMx.15ZIhdDp8OR27h4Ek4Kw7TxrzuG76Xl7c0Un44LL9R4g.oKOFdwZR4y68Kf9r3L3OFRrL4N-r6BjyUq0LgP9wP20g.JPEG.anssmm%2F20201113_121545.jpg&type=sc960_832" width="450" height="450" alt="snake">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7" style="padding-top: 130px;">
        <h2 class="featurette-heading">성신여자대학교 <span class="text-muted" style="font-size:x-large;">서비스•디자인공학과</span></h2>
        <p class="lead">
            <p>저는 현재 성신여자대학교 서비스•디자인공학과 2학년에 재학중입니다. </p>
            <p>아직도 성신여대 합격 소식을 알게된 2019년 12월 9일 아침 9시가 잊혀지지 않습니다.</p>
            <p>아직 대학 동기들을 만나보지도 못했지만 곧 때가 오겠죠?</p>
            <p>코로나 물러나라... 아자아자아좌자!</p>
        </p>
      </div>
      <div class="col-md-5">
        <img src="https://mblogthumb-phinf.pstatic.net/MjAyMDA1MjNfMjcw/MDAxNTkwMjIyMDc5NjU3.KVQqYmU-pP7BO3AiHq0EGfUMLc2lzzJA7J8j39qKhLcg.xheOouRaMsPAil9aZwg81-eXPu3FuRfYEp-2Ji6iL0Ig.JPEG.mrrgo/%ED%95%99%EA%B5%90%EA%B0%84%ED%8C%90.jpg?type=w800" width="430" height="471" alt="sswu">
        </div>
    </div>

    <hr class="featurette-divider">
    </div>
  


</body>
{%endblock%}




