{%extends 'base.html'%}

{%block contents%}
<body>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="https://www.youtube.com/watch?v=uLnMg0GNzNQ" target="_blank"><img src="https://i.ytimg.com/vi/fw-iK0Nztv0/maxresdefault.jpg" class="d-block w-100" alt="Love Never Felt So Good"></a>
            <div class="carousel-caption">
                <h3>Love Never Felt So Good</h3>
                <p>Michael Jackson</p>
            </div>
          </div>

          <div class="carousel-item">
            <a href="https://www.youtube.com/watch?v=wIgmyE5Juzw" target="_blank"><img src="https://i.ytimg.com/vi/nt4_p9Pz0RI/maxresdefault.jpg" class="d-block w-100" alt="Are you bored yet?"></a>
            <div class="carousel-caption">
                <h3>Are You Bored Yet?</h3>
                <p>Wallows</p>
            </div>
        </div>

          <div class="carousel-item">
            <a href="https://www.youtube.com/watch?v=J36z7AnhvOM" target="_blank"><img src="https://i.ytimg.com/vi/DYwQy_9JPtQ/maxresdefault.jpg" class="d-block w-100" alt="Can't take my eyes off you"></a>
            <div class="carousel-caption">
                <h3>Can't Take My Eyes Off You </h3>
                <p>Frankie Valli</p>
            </div>
        </div>
        
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>




    </body>
    {%endblock%}
    