{%extends 'base.html'%}

{%block contents%}
<body>

      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="https://terms.naver.com/entry.naver?docId=3346992&cid=43737&categoryId=58185" target="_blank"><img src="https://dthumb-phinf.pstatic.net/?src=%22https%3A%2F%2Fdbscthumb-phinf.pstatic.net%2F2492_000_1%2F20181121120535757_PWX9JG4TH.jpg%2Fgc27_8_i10.jpg%3Ftype%3Dw690_fst_n%26wm%3DY%22&twidth=690&theight=518&opts=17" class="d-block w-100" alt="외달도1"></a>
            <div class="carousel-caption">
                <h3>외달도</h3>
                <p>자연의 아름다움과 신비함을 다시 한 번 깨닫게 된 소중한 곳</p>
            </div>
          </div>

          <div class="carousel-item">
            <a href="http://www.oedaldo.co.kr" target="_blank"><img src="https://dbscthumb-phinf.pstatic.net/2492_000_1/20160211104427231_JJDEIJQFT.jpg/gc27_8_i5.jpg?type=w492_fst_n&wm=Y" class="d-block w-100" alt="외달도한옥민박"></a>
            <div class="carousel-caption">
                <h3>외달도 한옥민박</h3>
                <p>인기 TOP1 숙소</p>
                <p>*귀여운 고양이가 정말 많다</p>
            </div>
        </div>

          <div class="carousel-item">
            <a href="https://holmanage.modoo.at" target="_blank"><img src="https://modo-phinf.pstatic.net/20180521_212/152690223283599ew2_JPEG/mosaJ9i8wC.jpeg?type=w720" class="d-block w-100" alt="외달도영자네민박"></a>
            <div class="carousel-caption">
                <h3>외달도 영자네민박 </h3>
                <p>한옥민박에 빈 방이 없어 우연히 묵게 된 숙소</p>
                <p>할머니가 푸근히 잘 챙겨주셔 편안히 잘 쉬다 왔다</p>
            </div>
        </div>
        
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
            
    

    </body>
    {%endblock%}
    